body{
	margin:0px;
	font-family:arial, helvetica
}


.errorlist{
	display: inline	;
	color:red;
	font-size:9px;
	margin:0;
	padding:0;

}

.form {
	margin: 50px auto;
	width: 450px;
	display: block;
	clear: both;
}

.form .two {
	float: right;
}

.form .one {
	float: left;
}

ul{
	list-style-type:none;
}

.header {
	color:C5C5C5;
	background-color:#01243B;
	width:100%;
	padding:10px;
	text-align:	center;
}


.footer {
	bottom:0px;
	position: fixed;
	color:#C5C5C5;	
	background-color:#01243B;
	width:100%;
	padding:10px;
	text-align:	center;
}

.footer a {
	color: white;
	text-decoration: none;
}

.support {
	font-size:11px;
}

input, select {
	border: none;
	padding: 5px;
	margin: 5px;
	width:200px;
	background: #c5c5c5;
}

input[type='submit']{
	margin-top: 25px;
	background-color:#01243B;
	color: #C5C5C5;
}

input[type='submit']:hover{
	background: #12354C;
}

.error input{
	background: #771E10;
}